.heading-class
{
    color: blue;
    font-size: 20px;
    text-decoration: solid;
}

.button1{
    background: grey;
    color: white;
}

.table-class
{
    color:white;
    border: 2px solid white;
   
}